/*
float 속성
원래 flow에서 벗어날 수 있고 둥둥 떠다닐 수 있다
뒤에 block 엘리먼트가 float된 엘리먼트를 의식하지 못하고 중첩돼서 배치됨
이런 점 때문에 유용하게 활용됨
*/

div {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  font-size: 0.7em;
}

.blue {
  background-color: blue;
}

.green {
  float: left;
  background-color: green;
}

.red {
  background-color: red;
  position: relative;
  left: 10px;
}
