li {
  list-style: none;
}

header {
  background-color: #eee;
}

#wrap {
  background-color: #aaa;
  overflow: auto; /*float ì¸ì‹*/
  margin: 10px 0px;
}
.left,
.right,
.realright {
  float: left;
  height: 300px;
  margin: 10px 0px;
}
.left {
  width: 30%;
  margin-right: 3%;
  background-color: blueviolet;
}
.right > h2 {
  position: relative;
}
.right .emoticon {
  position: absolute;
  top: 0px;
  right: 5%;
  color: white;
}

.right {
  width: 30%;
  text-align: center;
  background-color: rgb(226, 43, 156);
}
.realright {
  width: 20%;
  margin-left: 3%;
  background-color: teal;
}
footer {
  background-color: #777;
  clear: both;
}
nav > ul > li {
  display: inline;
}
