.btn {
  cursor: pointer;
}
body {
  position: relative;
  background-color: #535c68;
  width: 100%;
  height: 100%;
}
.body {
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  position: absolute;
  top: 30;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.clicked {
  color: gray;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

script .bgImage {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  overflow: hidden;
  object-fit: cover;
}

ul {
  list-style: none;
}
